[submodule "modules/TankMix"]
	path = modules/TankMix
	url = https://github.com/ndpiparava/TankMixIT.git
[submodule "modules/CropMonitor"]
	path = modules/CropMonitor
	url = https://github.com/ndpiparava/CropMonitor.git
[submodule "modules/yara-components"]
	path = modules/yara-components
	url = https://github.com/ndpiparava/yara-components.git
